/* ----------------------  UTILS  ---------------------- */

:root {
	--default-green: #1db954;
	--light-green: #1ed760;
    --showcase-premium: #B49BC8;
    --showcase-free: #2941AB;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: cadetblue;
    color: #fff;
    font-family:'Roboto', sans-serif;;
}

.logo {
    height: 40px;
    width: auto;
}

.showcase {
    height: 320px;
    width: auto;
}


/* ----------------------  HEADER  ---------------------- */


#nav {
    width: 100%;
    top: 0;
    background: #000;
    display: flex;
    justify-content: center;
    position: absolute;
}

#nav .nav-content {
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

#nav .nav-content ul {
    list-style: none;
    display: flex;
    font-weight: bold;
    font-size: 14px;
}

#nav .nav-content ul li {
    padding: 0 20px;
    transition: all 300ms ease;
}

#nav .nav-content ul li:hover {
    color: var(--light-green);
    cursor: pointer;
}

#nav .nav-content ul li:nth-child(3) {
    border-right: 1px solid white;
}

.nav-content ul li:nth-child(4), 
li:nth-child(5) {
    color: #D9DADC;
}


/* ----------------------  MAIN  ---------------------- */

#main {
    height: 100vh;
    width: 100%;
	display: block;
	justify-content: center;
	align-items: center;
}

#main .main-content {
    width: 100%;
    display: flex;
	flex-direction: column;
	align-items: center;
}

#main .main-content p {
    margin: 15px 0;
	font-size: 1.1rem;
}

#main .premium {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #000;
    background: var(--showcase-premium);
}

#main .free {
    color: #1ed760;
    background: var(--showcase-free);
}




/* ----------------------  SOCIALS  ---------------------- */


.socials {
	display: flex;
}

.socials i {
	margin: 0 20px;
	font-size: 1.7rem;
	transition: all 300ms ease;
}

.socials i:hover {
	color: var(--default-green);
	cursor: pointer;
}

/* ----------------------  FOOTER  ---------------------- */


#footer {
    background: #000;
    color: #fff;
    padding: 80px 0;
}

#footer .footer-content {
    display: flex;
    width: 85%;
    margin: auto;
    justify-content: space-between;
}

#footer .footer-content .footer-menu {
    margin: 0 60px;
    list-style: none;
}

#footer .footer-content .footer-menu .footer-menu-item {
    margin: 25px 0;
    transition: all 300ms ease;
}

#footer .footer-content .footer-menu .footer-menu-item:hover {
	color: var(--default-green);
	cursor: pointer;
}

#footer .footer-content .footer-menu p {
    font-weight: bold;
    text-transform: uppercase;
    color: #919496;
    font-size: 0.8rem;
}



.footer-info {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	width: 85%;
	margin: auto;
	font-weight: bold;
	color: #919496;
	font-size: 0.75rem;
	padding-top: 50px;
}

.footer-info .footer-info-items {
	display: flex;
	list-style: none;
}

.footer-info .footer-info-items .footer-info-item {
	margin: 0 10px;
	transition: all 300ms ease;
}

.footer-info .footer-info-items .footer-info-item:hover {
	color: var(--default-green);
	cursor: pointer;
}


.footer-info .rights .country {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-bottom: 10px;
}

.footer-info .rights .country p {
	transition: all 300ms ease;
}

.footer-info .rights .country p:hover {
	color: var(--default-green);
	cursor: pointer;
}

.footer-info .rights .country .brazil-flag {
	height: 20px;
	width: auto;
	display: inline-block;
	margin-left: 10px;
}